form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

input, select {
  padding: 4px;
}

button {
  padding: 6px 10px;
}

p {
  font-weight: bold;
}
